<a href="https://colab.research.google.com/github/s2ul2/programmers_codingtest/blob/main/level2_%EA%B0%80%EC%9E%A5_%ED%81%B0_%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

링크 : https://school.programmers.co.kr/learn/courses/30/lessons/42746

# 내 풀이 : 틀림....

# 다른사람 풀이

In [ ]:
def solution(numbers):
    numbers = list(map(str, numbers))
    numbers.sort(key=lambda x: x*3, reverse=True)
    return str(int(''.join(numbers)))

3을 곱하는 이유 (즉 왜 3번 반복하게 하는가?)

각 num의 자릿수가 1000이하이니까요! 가령 9, 991 이면 9에다가 *2할 경우 99, 991991로 여전히 991이 더 앞편에 정렬되기 때문 (잘못 정렬된 것)

하지만 3을 곱하면 999, 991991로 999가 991991보다 더 크므로 9가 991보다 앞에 정렬됨. (제대로 정렬됨)
* 문자열도 리스트와 튜플과 마찬가지로 첫번째 원소를 기준으로 정렬 -> 두번째 원소를 기준으로 정렬 -> 세번째 원소를 기준으로 정렬 ...

In [1]:
'991' * 3

'991991991'